{% extends 'base.html' %}

{% block content %}

<div class="row align-items-center justify-content-between">
  <div class="col-lg-6 col-md-12 col-sm-12 about-left">
    <h1 class="text-uppercase">
      <span>PRACTICE</span> <br>
      WORDCOUNT
    </h1>
    <p>
      WORDCOUNT 실습 및 과제 제출용으로 부트스트랩 템플릿에 적용 해봤습니다.
    </p>
    <a class="learn-btn text-uppercase" href="{% url 'wordcount' %}">Details</a>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 about-right">

  </div>
</div>


{% endblock %}